<!--
  This example leverages Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->


<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}
{% include "_page-header.html" %}


<!--
  Using the grid to make a 2-column layout
  https://www.lightningdesignsystem.com/components/utilities/grid/
-->
<div class="slds-grid">
	<!--
    First column
  -->
	<div class="slds-col slds-size_12-of-12">
		<div class="slds-p-around_medium slds-card">


			<div class="slds-page-header__control slds-float_right">
				<ul class="slds-button-group-list">
					<li>
						<button class="slds-button slds-button_outline-brand">Edit
							Products</button>
					</li>
					<li>
						<button class="slds-button slds-button_outline-brand">Add
							Products</button>
					</li>
					<li>
						<button class="slds-button slds-button_outline-brand">Clone</button>
					</li>
					<li>

					</li>
				</ul>
			</div>

			<h2 class="slds-text-heading_medium">Example of product data</h2>

			<p class="slds-text-body_regular slds-m-vertical_medium">Products <a
					href="https://github.com/salesforce-ux/design-system-starter-kit/blob/master/src/views/data/example.json"><code>views/data/example.json</code></a>.
			</p>

			<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
				aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" id="myModal">
				<div class="slds-modal__container">
					<header class="slds-modal__header">
						<button id="button"
							class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close">
							<svg class="slds-button__icon slds-button__icon_large"
								aria-hidden="true">
								<use
									xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close">
								</use>
							</svg>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
							Product Edit</h2>
					</header>
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

						<div class="slds-page-header__control slds-float_right">
							<ul class="slds-button-group-list">
								<li>
									<a class="slds-button slds-button_outline-brand"
										href="">Add Products</a>
								</li>
							</ul>
						</div>

						<p>You can use this to edit the products in bulk</p>

						<br>

						<!--
        Data table component
        https://www.lightningdesignsystem.com/components/data-tables/

        Modifier:
        - fixed layout: slds-table_fixed-layout (to make text truncation work within cells)
      -->


						<table
							class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_fixed-layout slds-table_edit_container">
							<thead>
								<tr class="slds-line-height_reset">
									<!--
              The first cell (Account Name) requires space for long labels,
              so we're manually setting its width to half the size of the table
              using the spacing utility slds-size_1-of-2
            -->
									<!--th scope="col" class="slds-size_1-of-2"-->
									<th scope="col">
										<div class="slds-truncate"
											title="Opp Product"></div>
									</th>
									<th scope="col">
										<div class="slds-truncate"
											title="Opp Product">Opportunity
											Product Name</div>
									</th>
									<th scope="col">
										<div class="slds-truncate"
											title="Vendor Account Name">
											Vendor Account Name</div>
									</th>
									<th scope="col">
										<div class="slds-truncate"
											title="Billing State/Province">
											Billing State/Province</div>
									</th>
									<th scope="col">
										<div class="slds-truncate"
											title="Phone">Phone</div>
									</th>
									<th scope="col">
										<div class="slds-truncate" title="Type">
											Type</div>
									</th>
								</tr>
							</thead>

							<tbody>
								<!--
            Looping around values in Nunjucks
            http://mozilla.github.io/nunjucks/templating.html#for
          -->
								{% for opp in opps %}
								<tr>

									<th scope="row" data-label="checkbox">
										<!--input type="checkbox" title="{{ opp.checkbox }}" id="checkbox-unique-id-72"
                      value="checkbox-unique-id-72" checked="">{{ opp.checkbox }}</input-->
										<input type="checkbox" name="options"
											id="checkbox-unique-id-74"
											value="checkbox-unique-id-74" />
									</th>
									<th scope="row" data-label="Opp Name">
										<div class="slds-truncate"
											title="{{ opp.name }}"><a
												href="javascript:void(0);">{{ opp.name }}</a>
										</div>
									</th>
									<th scope="row" data-label="Account Name">
										<div class="slds-truncate"
											title="{{ opp.acctName }}"><a
												href="javascript:void(0);">{{ opp.acctName }}</a>
										</div>
									</th>
									<td data-label="Billing State/Province">
										<div class="slds-truncate"
											title="{{ opp.state }}">
											{{ opp.state }}</div>
									</td>
									<td data-label="Phone">
										<div class="slds-truncate"
											title="{{ opp.phone }}">
											{{ opp.phone }}</div>
									</td>
									<td data-label="Type">
										<div class="slds-truncate"
											title="{{ opp.type }}">
											{{ opp.type }}</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<footer class="slds-modal__footer">
						<a class="slds-button slds-button_neutral" href="/home.html">Cancel</a>

						<a class="slds-button slds-button_brand" href="/home.html">Save</a>
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>


			<!--
        Data table component
        https://www.lightningdesignsystem.com/components/data-tables/

        Modifier:
        - fixed layout: slds-table_fixed-layout (to make text truncation work within cells)
      -->
			<table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_fixed-layout">
				<thead>
					<tr class="slds-line-height_reset">
						<!--
              The first cell (Account Name) requires space for long labels,
              so we're manually setting its width to half the size of the table
              using the spacing utility slds-size_1-of-2
            -->
						<!--th scope="col" class="slds-size_1-of-2"-->
						<th scope="col">
							<div class="slds-truncate" title="Opp Product">Opportunity
								Product Name</div>
						</th>
						<th scope="col">
							<div class="slds-truncate" title="Vendor Account Name">Vendor
								Account Name</div>
						</th>
						<th scope="col">
							<div class="slds-truncate" title="Billing State/Province">
								Billing State/Province</div>
						</th>
						<th scope="col">
							<div class="slds-truncate" title="Phone">Phone</div>
						</th>
						<th scope="col">
							<div class="slds-truncate" title="Type">Type</div>
						</th>
					</tr>
				</thead>

				<tbody>
					<!--
            Looping around values in Nunjucks
            http://mozilla.github.io/nunjucks/templating.html#for
          -->
					{% for opp in opps %}
					<tr>
						<th scope="row" data-label="Opp Name">
							<div class="slds-truncate" title="{{ opp.name }}"><a
									href="javascript:void(0);">{{ opp.name }}</a>
							</div>
						</th>
						<th scope="row" data-label="Account Name">
							<div class="slds-truncate" title="{{ opp.acctName }}"><a
									href="javascript:void(0);">{{ opp.acctName }}</a>
							</div>
						</th>
						<td data-label="Billing State/Province">
							<div class="slds-truncate" title="{{ opp.state }}">
								{{ opp.state }}</div>
						</td>
						<td data-label="Phone">
							<div class="slds-truncate" title="{{ opp.phone }}">
								{{ opp.phone }}</div>
						</td>
						<td data-label="Type">
							<div class="slds-truncate" title="{{ opp.type }}">{{ opp.type }}
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


</div>



<footer class="app-footer">Built using the <a href="https://github.com/salesforce-ux/design-system-starter-kit">{{
    shared.builtWith }}</a>.</footer>
{% endblock %}


<script src="/scripts/app.js"></script>
<script src="/scripts/vendor/svg4everybody.min.js"></script>
<script>svg4everybody();</script>